* {
	margin: 0;
	padding: 0;
	list-style: none;
}

#wrapper {
	position: relative;
	width: 421px;
	height: 200px;
	margin: 150px auto;
	
}

#tab-header {
	position: relative;
	display: flex;
	width: 300px;
	height: 40px;
}

#tab-header>div {
	display: flex;
	width: 60px;
	height: 40px;
	flex-shrink: 0;
	font-size: 20px;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid #ccc;
}

#tab-header>div:nth-child(4),
#tab-header>div:nth-child(5),
#tab-header>div:nth-child(6) {
	border-top: 1px solid #fff;
}

#tab-header>div:nth-child(1),
#tab-header>div:nth-child(2) {
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	background-color: #eee;
}

#tab-header>div:nth-child(3) {
	border: 1px solid #ccc;
	border-bottom-width: 0;
	background-color: #fff;
}

#tab-body {
	position: absolute;
	left: 0;
	top: 40;
}

.image {
	display: none;
	width: 421px;
	height: 160px;
	border: 1px solid #ccc;
	border-top: none;
	margin-top: 2px;
}

#tab-body>div:last-child {
	display: block;
}